In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os
import re
import nltk
nltk.download('punkt')
import html.parser    
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem import PorterStemmer, WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /home/tefi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/tefi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/tefi/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [78]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [79]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [80]:
train_df.shape

(31962, 3)

In [81]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [82]:
test_df.shape

(17197, 2)

In [83]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [84]:
combine_df.shape

(49159, 3)

In [85]:
combine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [86]:
combine_df[['tweet']]

                                                   tweet
0       @user when a father is dysfunctional and is s...
1      @user @user thanks for #lyft credit i can't us...
2                                    bihday your majesty
3      #model   i love u take with u all the time in ...
4                 factsguide: society now    #motivation
...                                                  ...
49154  thought factory: left-right polarisation! #tru...
49155  feeling like a mermaid ð #hairflip #neverre...
49156  #hillary #campaigned today in #ohio((omg)) &am...
49157  happy, at work conference: right mindset leads...
49158  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 1 columns]

In [87]:
combine_df.tweet[2]

'  bihday your majesty'

### 0. Заменим html-сущности (к примеру: < > &). "<" заменим на “<” и "&" заменим на “&”)""". Сделаем это с помощью HTMLParser.unescape()

In [88]:
def html_edit(text):
    text = html.parser.HTMLParser().unescape(text)
    return text

In [89]:
combine_df_0 = combine_df.tweet.apply(np.vectorize(html_edit))

In [90]:
combine_df

          id  label                                              tweet
0          1    0.0   @user when a father is dysfunctional and is s...
1          2    0.0  @user @user thanks for #lyft credit i can't us...
2          3    0.0                                bihday your majesty
3          4    0.0  #model   i love u take with u all the time in ...
4          5    0.0             factsguide: society now    #motivation
...      ...    ...                                                ...
49154  49155    NaN  thought factory: left-right polarisation! #tru...
49155  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
49156  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
49157  49158    NaN  happy, at work conference: right mindset leads...
49158  49159    NaN  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 3 columns]

In [91]:
combine_df_0

0         @user when a father is dysfunctional and is s...
1        @user @user thanks for #lyft credit i can't us...
2                                      bihday your majesty
3        #model   i love u take with u all the time in ...
4                   factsguide: society now    #motivation
                               ...
49154    thought factory: left-right polarisation! #tru...
49155    feeling like a mermaid ð #hairflip #neverre...
49156    #hillary #campaigned today in #ohio((omg)) & u...
49157    happy, at work conference: right mindset leads...
49158    my   song "so glad" free download!  #shoegaze ...
Name: tweet, Length: 49159, dtype: object

### 1. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt) для для замены @user на пробел, необходимо использовать re.sub() при применении функции необходимо использовать np.vectorize(function)

In [92]:
def del_user(text):
    text = re.sub('@[\w]*', ' ', text)
    return text

In [93]:
combine_df_1 = combine_df_0.apply(np.vectorize(del_user))

In [94]:
combine_df_0[:10]

0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
5    [2/2] huge fan fare and big talking before the...
6     @user camping tomorrow @user @user @user @use...
7    the next school year is the year for exams.ð...
8    we won!!! love the land!!! #allin #cavs #champ...
9     @user @user welcome here !  i'm   it's so #gr...
Name: tweet, dtype: object

In [95]:
combine_df_1[0:10]

0       when a father is dysfunctional and is so se...
1        thanks for #lyft credit i can't use cause ...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
5    [2/2] huge fan fare and big talking before the...
6              camping tomorrow               dannyâ¦
7    the next school year is the year for exams.ð...
8    we won!!! love the land!!! #allin #cavs #champ...
9                welcome here !  i'm   it's so #gr8 !
Name: tweet, dtype: object

### 2. Изменим регистр твитов на нижний с помощью .lower()

In [96]:
def lower_text(text):
    text = text.lower()
    return text

In [97]:
combine_df_2 = combine_df_1.apply(np.vectorize(lower_text))

In [98]:
combine_df_2[0:3]

0       when a father is dysfunctional and is so se...
1        thanks for #lyft credit i can't use cause ...
2                                  bihday your majesty
Name: tweet, dtype: object

### 3. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [99]:
def apostrophe_del(text):
    for word in text.split():
        if word in apostrophe_dict:
            text = text.replace(word, apostrophe_dict.get(word))
    return text

In [100]:
combine_df_3 = combine_df_2.apply(np.vectorize(apostrophe_del))

In [101]:
combine_df_2[0:2]

0       when a father is dysfunctional and is so se...
1        thanks for #lyft credit i can't use cause ...
Name: tweet, dtype: object

In [102]:
combine_df_3[0:2]

0       when a father is dysfunctional and is so se...
1        thanks for #lyft credit i cannot use cause...
Name: tweet, dtype: object

### 4. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [103]:
def short_word_del(text):
    d = {}
    for word in text.split():
        if word in short_word_dict:
            word_1 = short_word_dict.get(word)
            d[word] = word_1
    for k, v in d.items():
        text = text.replace(k, v)
    return text

In [104]:
combine_df_4 = combine_df_3.apply(np.vectorize(short_word_del))

In [105]:
combine_df_3[0:4]

0       when a father is dysfunctional and is so se...
1        thanks for #lyft credit i cannot use cause...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
Name: tweet, dtype: object

In [106]:
combine_df_4[0:4]

0       when a father is dysfunctional and is so se...
1        thanks for #lyft credit i cannot use cause...
2                                  bihday your majesty
3    #model   i love you take with you all the time...
Name: tweet, dtype: object

### 5. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [107]:
def emoticon_del(text):
    for word in text.split():
        if word in emoticon_dict:
            text = text.replace(word, emoticon_dict.get(word))
    return text

In [108]:
combine_df_5 = combine_df_4.apply(np.vectorize(emoticon_del))

### 6. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [109]:
def del_sign(text):
    text = re.sub('[^\w\s]', ' ', text)
    return text

In [110]:
combine_df_6 = combine_df_5.apply(np.vectorize(del_sign))

In [111]:
combine_df_5[0:10]

0       when a father is dysfunctional and is so se...
1        thanks for #lyft credit i cannot use cause...
2                                  bihday your majesty
3    #model   i love you take with you all the time...
4               factsguide: society now    #motivation
5    [2/2] huge fan fare and big talking before the...
6              camping tomorrow               dannyâ¦
7    the next school year is the year for exams.ð...
8    we won!!! love the land!!! #allin #cavs #champ...
9         welcome here !  I am   it has / it is so ...
Name: tweet, dtype: object

In [112]:
combine_df_6[0:10]

0       when a father is dysfunctional and is so se...
1        thanks for  lyft credit i cannot use cause...
2                                  bihday your majesty
3     model   i love you take with you all the time...
4               factsguide  society now     motivation
5     2 2  huge fan fare and big talking before the...
6              camping tomorrow               dannyâ
7    the next school year is the year for exams ð  ...
8    we won    love the land     allin  cavs  champ...
9         welcome here    I am   it has   it is so ...
Name: tweet, dtype: object

### 7. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [113]:
def del_symbol(text):
    text = re.sub('[^a-zA-Z0-9]', ' ', text)
    return text

In [114]:
combine_df_7 = combine_df_6.apply(np.vectorize(del_symbol))

In [115]:
combine_df_6[0:10]

0       when a father is dysfunctional and is so se...
1        thanks for  lyft credit i cannot use cause...
2                                  bihday your majesty
3     model   i love you take with you all the time...
4               factsguide  society now     motivation
5     2 2  huge fan fare and big talking before the...
6              camping tomorrow               dannyâ
7    the next school year is the year for exams ð  ...
8    we won    love the land     allin  cavs  champ...
9         welcome here    I am   it has   it is so ...
Name: tweet, dtype: object

In [116]:
combine_df_7[0:10]

0       when a father is dysfunctional and is so se...
1        thanks for  lyft credit i cannot use cause...
2                                  bihday your majesty
3     model   i love you take with you all the time...
4               factsguide  society now     motivation
5     2 2  huge fan fare and big talking before the...
6              camping tomorrow               danny
7    the next school year is the year for exams    ...
8    we won    love the land     allin  cavs  champ...
9         welcome here    I am   it has   it is so ...
Name: tweet, dtype: object

### 8. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [117]:
def del_digit(text):
    text = re.sub('[^a-zA-Z]', ' ', text)
    return text

In [118]:
combine_df_8 = combine_df_7.apply(np.vectorize(del_digit))

In [119]:
combine_df_7[0:10]

0       when a father is dysfunctional and is so se...
1        thanks for  lyft credit i cannot use cause...
2                                  bihday your majesty
3     model   i love you take with you all the time...
4               factsguide  society now     motivation
5     2 2  huge fan fare and big talking before the...
6              camping tomorrow               danny
7    the next school year is the year for exams    ...
8    we won    love the land     allin  cavs  champ...
9         welcome here    I am   it has   it is so ...
Name: tweet, dtype: object

In [120]:
combine_df_8[0:10]

0       when a father is dysfunctional and is so se...
1        thanks for  lyft credit i cannot use cause...
2                                  bihday your majesty
3     model   i love you take with you all the time...
4               factsguide  society now     motivation
5          huge fan fare and big talking before the...
6              camping tomorrow               danny
7    the next school year is the year for exams    ...
8    we won    love the land     allin  cavs  champ...
9         welcome here    I am   it has   it is so ...
Name: tweet, dtype: object

### 9. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [121]:
def del_min(text):
    text = ' '.join([w for w in text.split() if len(w)>1])
    return text

In [122]:
combine_df_9 = combine_df_8.apply(np.vectorize(del_min))

In [123]:
combine_df_8[0:10]

0       when a father is dysfunctional and is so se...
1        thanks for  lyft credit i cannot use cause...
2                                  bihday your majesty
3     model   i love you take with you all the time...
4               factsguide  society now     motivation
5          huge fan fare and big talking before the...
6              camping tomorrow               danny
7    the next school year is the year for exams    ...
8    we won    love the land     allin  cavs  champ...
9         welcome here    I am   it has   it is so ...
Name: tweet, dtype: object

In [124]:
combine_df_9[0:10]

0    when father is dysfunctional and is so selfish...
1    thanks for lyft credit cannot use cause they d...
2                                  bihday your majesty
3    model love you take with you all the time in your
4                    factsguide society now motivation
5    huge fan fare and big talking before they leav...
6                               camping tomorrow danny
7    the next school year is the year for exams can...
8    we won love the land allin cavs champions clev...
9                   welcome here am it has it is so gr
Name: tweet, dtype: object

### 10. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [125]:
combine_df['tweet'] = combine_df_9

In [126]:
combine_df

          id  label                                              tweet
0          1    0.0  when father is dysfunctional and is so selfish...
1          2    0.0  thanks for lyft credit cannot use cause they d...
2          3    0.0                                bihday your majesty
3          4    0.0  model love you take with you all the time in your
4          5    0.0                  factsguide society now motivation
...      ...    ...                                                ...
49154  49155    NaN  thought factory left right polarisation trump ...
49155  49156    NaN  feeling like mermaid hairflip neverready forma...
49156  49157    NaN  hillary campaigned today in ohio omg used word...
49157  49158    NaN  happy at work conference right mindset leads t...
49158  49159    NaN  my song so glad free download shoegaze newmusi...

[49159 rows x 3 columns]

In [127]:
def tweet_token(text):
    text = nltk.tokenize.word_tokenize(text)
    return text

In [128]:
combine_df_10 = combine_df_9.apply(np.vectorize(tweet_token))

In [129]:
combine_df_10

0        [when, father, is, dysfunctional, and, is, so,...
1        [thanks, for, lyft, credit, can, not, use, cau...
2                                  [bihday, your, majesty]
3        [model, love, you, take, with, you, all, the, ...
4                   [factsguide, society, now, motivation]
                               ...
49154    [thought, factory, left, right, polarisation, ...
49155    [feeling, like, mermaid, hairflip, neverready,...
49156    [hillary, campaigned, today, in, ohio, omg, us...
49157    [happy, at, work, conference, right, mindset, ...
49158    [my, song, so, glad, free, download, shoegaze,...
Name: tweet, Length: 49159, dtype: object

In [130]:
combine_df['tweet_token'] = combine_df_10

In [131]:
combine_df

,id,label,tweet,tweet_token
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]"
3,4,0.0,model love you take with you all the time in your,"[model, love, you, take, with, you, all, the, ..."
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]"
...,...,...,...,...
49154,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ..."
49155,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,..."
49156,49157,NaN,hillary campaigned today in ohio omg used word...,"[hillary, campaigned, today, in, ohio, omg, us..."
49157,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ..."
49158,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,..."

### 11. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [132]:
stop_words = set(stopwords.words("english"))

In [133]:
def tweet_token_filtered(text):
    if text not in stop_words:
        return text
    else:
        return ''

In [134]:
combine_df_11 = combine_df_10.apply(np.vectorize(tweet_token_filtered, otypes=[str]))

In [135]:
combine_df_11

0        [, father, , dysfunctional, , , , selfish, , d...
1        [thanks, , lyft, credit, , , use, cause, , , ,...
2                                      [bihday, , majesty]
3                  [model, love, , take, , , , , time, , ]
4                      [factsguide, society, , motivation]
                               ...
49154    [thought, factory, left, right, polarisation, ...
49155    [feeling, like, mermaid, hairflip, neverready,...
49156    [hillary, campaigned, today, , ohio, omg, used...
49157    [happy, , work, conference, right, mindset, le...
49158    [, song, , glad, free, download, shoegaze, new...
Name: tweet, Length: 49159, dtype: object

In [136]:
combine_df['tweet_token_filtered'] = combine_df_11

In [137]:
combine_df

,id,label,tweet,tweet_token,tweet_token_filtered
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[, father, , dysfunctional, , , , selfish, , d..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, , lyft, credit, , , use, cause, , , ,..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, , majesty]"
3,4,0.0,model love you take with you all the time in your,"[model, love, you, take, with, you, all, the, ...","[model, love, , take, , , , , time, , ]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, , motivation]"
...,...,...,...,...,...
49154,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ..."
49155,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,..."
49156,49157,NaN,hillary campaigned today in ohio omg used word...,"[hillary, campaigned, today, in, ohio, omg, us...","[hillary, campaigned, today, , ohio, omg, used..."
49157,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, , work, conference, right, mindset, le..."
49158,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[, song, , glad, free, download, shoegaze, new..."

### 12. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [138]:
stemmer = PorterStemmer()

In [139]:
def tweet_stemmed(text):
    return stemmer.stem(text)

In [140]:
combine_df_12 = combine_df_11.apply(np.vectorize(tweet_stemmed, otypes=[str]))

In [141]:
combine_df_12

0        [, father, , dysfunct, , , , selfish, , drag, ...
1        [thank, , lyft, credit, , , use, caus, , , , o...
2                                      [bihday, , majesti]
3                  [model, love, , take, , , , , time, , ]
4                            [factsguid, societi, , motiv]
                               ...
49154    [thought, factori, left, right, polaris, trump...
49155    [feel, like, mermaid, hairflip, neverreadi, fo...
49156    [hillari, campaign, today, , ohio, omg, use, w...
49157    [happi, , work, confer, right, mindset, lead, ...
49158    [, song, , glad, free, download, shoegaz, newm...
Name: tweet, Length: 49159, dtype: object

In [142]:
combine_df['tweet_stemmed'] = combine_df_12

In [143]:
combine_df

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[, father, , dysfunctional, , , , selfish, , d...","[, father, , dysfunct, , , , selfish, , drag, ..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, , lyft, credit, , , use, cause, , , ,...","[thank, , lyft, credit, , , use, caus, , , , o..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, , majesty]","[bihday, , majesti]"
3,4,0.0,model love you take with you all the time in your,"[model, love, you, take, with, you, all, the, ...","[model, love, , take, , , , , time, , ]","[model, love, , take, , , , , time, , ]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, , motivation]","[factsguid, societi, , motiv]"
...,...,...,...,...,...,...
49154,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ...","[thought, factori, left, right, polaris, trump..."
49155,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,...","[feel, like, mermaid, hairflip, neverreadi, fo..."
49156,49157,NaN,hillary campaigned today in ohio omg used word...,"[hillary, campaigned, today, in, ohio, omg, us...","[hillary, campaigned, today, , ohio, omg, used...","[hillari, campaign, today, , ohio, omg, use, w..."
49157,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, , work, conference, right, mindset, le...","[happi, , work, confer, right, mindset, lead, ..."
49158,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[, song, , glad, free, download, shoegaze, new...","[, song, , glad, free, download, shoegaz, newm..."

### 13. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [144]:
lemmatizer = WordNetLemmatizer()

In [145]:
def tweet_lemmatized(text):
    return lemmatizer.lemmatize(text)

In [146]:
combine_df_13 = combine_df_11.apply(np.vectorize(tweet_lemmatized, otypes=[str]))

In [147]:
combine_df_13

0        [, father, , dysfunctional, , , , selfish, , d...
1        [thanks, , lyft, credit, , , use, cause, , , ,...
2                                      [bihday, , majesty]
3                  [model, love, , take, , , , , time, , ]
4                      [factsguide, society, , motivation]
                               ...
49154    [thought, factory, left, right, polarisation, ...
49155    [feeling, like, mermaid, hairflip, neverready,...
49156    [hillary, campaigned, today, , ohio, omg, used...
49157    [happy, , work, conference, right, mindset, le...
49158    [, song, , glad, free, download, shoegaze, new...
Name: tweet, Length: 49159, dtype: object

In [148]:
combine_df['tweet_lemmatized'] = combine_df_13

In [149]:
combine_df

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[, father, , dysfunctional, , , , selfish, , d...","[, father, , dysfunct, , , , selfish, , drag, ...","[, father, , dysfunctional, , , , selfish, , d..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, , lyft, credit, , , use, cause, , , ,...","[thank, , lyft, credit, , , use, caus, , , , o...","[thanks, , lyft, credit, , , use, cause, , , ,..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, , majesty]","[bihday, , majesti]","[bihday, , majesty]"
3,4,0.0,model love you take with you all the time in your,"[model, love, you, take, with, you, all, the, ...","[model, love, , take, , , , , time, , ]","[model, love, , take, , , , , time, , ]","[model, love, , take, , , , , time, , ]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, , motivation]","[factsguid, societi, , motiv]","[factsguide, society, , motivation]"
...,...,...,...,...,...,...,...
49154,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ...","[thought, factori, left, right, polaris, trump...","[thought, factory, left, right, polarisation, ..."
49155,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,...","[feel, like, mermaid, hairflip, neverreadi, fo...","[feeling, like, mermaid, hairflip, neverready,..."
49156,49157,NaN,hillary campaigned today in ohio omg used word...,"[hillary, campaigned, today, in, ohio, omg, us...","[hillary, campaigned, today, , ohio, omg, used...","[hillari, campaign, today, , ohio, omg, use, w...","[hillary, campaigned, today, , ohio, omg, used..."
49157,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, , work, conference, right, mindset, le...","[happi, , work, confer, right, mindset, lead, ...","[happy, , work, conference, right, mindset, le..."
49158,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[, song, , glad, free, download, shoegaze, new...","[, song, , glad, free, download, shoegaz, newm...","[, song, , glad, free, download, shoegaze, new..."

### 14. Сохраним результат предобработки в pickle-файл.

In [150]:
def tweet(text):
    text = ' '.join(text)
    text = re.sub('\s{2,}', ' ', text)
    return text

In [151]:
combine_1 = combine_df.tweet_token.apply(tweet)
combine_df['tweet_token'] = combine_1
combine_df.head(3)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,when father is dysfunctional and is so selfish...,"[, father, , dysfunctional, , , , selfish, , d...","[, father, , dysfunct, , , , selfish, , drag, ...","[, father, , dysfunctional, , , , selfish, , d..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,thanks for lyft credit can not use cause they ...,"[thanks, , lyft, credit, , , use, cause, , , ,...","[thank, , lyft, credit, , , use, caus, , , , o...","[thanks, , lyft, credit, , , use, cause, , , ,..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, , majesty]","[bihday, , majesti]","[bihday, , majesty]"

In [152]:
combine_1 = combine_df.tweet_token_filtered.apply(tweet)
combine_df['tweet_token_filtered'] = combine_1

combine_1 = combine_df.tweet_stemmed.apply(tweet)
combine_df['tweet_stemmed'] = combine_1

combine_1 = combine_df.tweet_lemmatized.apply(tweet)
combine_df['tweet_lemmatized'] = combine_1

combine_df.head(3)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,when father is dysfunctional and is so selfish...,father dysfunctional selfish drags kids dysfu...,father dysfunct selfish drag kid dysfunct run,father dysfunctional selfish drag kid dysfunc...
1,2,0.0,thanks for lyft credit cannot use cause they d...,thanks for lyft credit can not use cause they ...,thanks lyft credit use cause offer wheelchair ...,thank lyft credit use caus offer wheelchair va...,thanks lyft credit use cause offer wheelchair ...
2,3,0.0,bihday your majesty,bihday your majesty,bihday majesty,bihday majesti,bihday majesty

In [153]:
combine_df.to_pickle('combine_df.pkl')

In [154]:
combine = pd.read_pickle("./combine_df.pkl")

In [155]:
combine

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,when father is dysfunctional and is so selfish...,father dysfunctional selfish drags kids dysfu...,father dysfunct selfish drag kid dysfunct run,father dysfunctional selfish drag kid dysfunc...
1,2,0.0,thanks for lyft credit cannot use cause they d...,thanks for lyft credit can not use cause they ...,thanks lyft credit use cause offer wheelchair ...,thank lyft credit use caus offer wheelchair va...,thanks lyft credit use cause offer wheelchair ...
2,3,0.0,bihday your majesty,bihday your majesty,bihday majesty,bihday majesti,bihday majesty
3,4,0.0,model love you take with you all the time in your,model love you take with you all the time in your,model love take time,model love take time,model love take time
4,5,0.0,factsguide society now motivation,factsguide society now motivation,factsguide society motivation,factsguid societi motiv,factsguide society motivation
...,...,...,...,...,...,...,...
49154,49155,NaN,thought factory left right polarisation trump ...,thought factory left right polarisation trump ...,thought factory left right polarisation trump ...,thought factori left right polaris trump usele...,thought factory left right polarisation trump ...
49155,49156,NaN,feeling like mermaid hairflip neverready forma...,feeling like mermaid hairflip neverready forma...,feeling like mermaid hairflip neverready forma...,feel like mermaid hairflip neverreadi formal w...,feeling like mermaid hairflip neverready forma...
49156,49157,NaN,hillary campaigned today in ohio omg used word...,hillary campaigned today in ohio omg used word...,hillary campaigned today ohio omg used words l...,hillari campaign today ohio omg use word like ...,hillary campaigned today ohio omg used word li...
49157,49158,NaN,happy at work conference right mindset leads t...,happy at work conference right mindset leads t...,happy work conference right mindset leads cult...,happi work confer right mindset lead cultur de...,happy work conference right mindset lead cultu...
49158,49159,NaN,my song so glad free download shoegaze newmusi...,my song so glad free download shoegaze newmusi...,song glad free download shoegaze newmusic new...,song glad free download shoegaz newmus newsong,song glad free download shoegaze newmusic new...